@{
	ViewBag.Title = "Home Page";
	Layout = "~/Views/Shared/_TempLayout.cshtml";
}
<br />
<div class="slider">
	<div class="callbacks_container">
		<ul class="rslides callbacks callbacks1" id="slider4">
			<li>
				<div class="banner-top">
					<div class="banner-info-w3ls-agileinfo">
						<h3>Opportunities For Lifelong Learning.</h3>
						<a href="about.html">Read More <i class="fa fa-caret-right" aria-hidden="true"></i></a>
						<a href="contact.html">Contact Us <i class="fa fa-caret-right" aria-hidden="true"></i></a>
					</div>

				</div>
			</li>
			<li>
				<div class="banner-top1">
					<div class="banner-info-w3ls-agileinfo">
						<h3>Education is a path, not a destination</h3>
						<a href="about.html">Read More <i class="fa fa-caret-right" aria-hidden="true"></i></a>
						<a href="contact.html">Contact Us <i class="fa fa-caret-right" aria-hidden="true"></i></a>
					</div>

				</div>
			</li>
			<li>
				<div class="banner-top2">
					<div class="banner-info-w3ls-agileinfo">
						<h3>Opportunities For Lifelong Learning.</h3>
						<a href="about.html">Read More <i class="fa fa-caret-right" aria-hidden="true"></i></a>
						<a href="contact.html">Contact Us <i class="fa fa-caret-right" aria-hidden="true"></i></a>
					</div>

				</div>
			</li>
			<li>
				<div class="banner-top3">
					<div class="banner-info-w3ls-agileinfo">
						<h3>Education is a path, not a destination</h3>
						<a href="about.html">Read More <i class="fa fa-caret-right" aria-hidden="true"></i></a>
						<a href="contact.html">Contact Us <i class="fa fa-caret-right" aria-hidden="true"></i></a>
					</div>

				</div>
			</li>
		</ul>
	</div>
	<div class="clearfix"> </div>

	<!--banner Slider starts Here-->
</div>
@*<div class="jumbotron">
    <h1>ABANTWANA DAY CARE</h1>
    <p class="lead">WE CARE ABOUT YOUR KIDS.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>*@